<!-- <h1>{{ title }} app is running!</h1> -->
<div id="page" align="center">
  <div id="content" style="width:800px">
<app-header></app-header>
<div id="contenttext">
  <div style="padding:10px">
    <span class="titletext">Welcome to RedTie!</span>
    </div>
    <a routerLink="/home" routerLinkActive="active1"> HOME </a>|
    <a routerLink="/students"routerLinkActive="active1"> STUDENTS </a>|
    <a routerLink="/courses"routerLinkActive="active1"> COURSE </a>|
    <a routerLink="/departments"routerLinkActive="active1"> DEPARTMENT </a>|
    <a routerLink="/contactus"routerLinkActive="active1"> CONTACT </a>|
    <a [routerLink]="['/about']"routerLinkActive="active1"> ABOUT </a>
<router-outlet></router-outlet>
<!-- <app-student-add></app-student-add>
<app-student-list></app-student-list> -->

<!-- <app-course-list></app-course-list> -->
</div>

<app-panel></app-panel>
<app-footer></app-footer>
  </div>
  </div>
