<!-- <app-course-add (onCourseAdded)="saveToList($event)"></app-course-add> -->

<hr>
<a routerLink="/courses/add"routerLinkActive="active1"> ADD </a>|

<table class="table mx-auto">
  <thead>
    <tr>
      <!-- <th scope="col">#</th> -->
      <th scope="col">ID</th>
      <th scope="col">NAME</th>
      <th scope="col">Duration</th>
      <th scope="col">RATE</th>
      <th scope="col">DETAILS</th>
      <th scope="col">EDIT</th>
      <th scope="col">DELETE</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let item of courses'>
      <td>{{item._id}}</td>
      <td>{{item.name}}</td>
      <td>{{item.duration}}</td>
      <td>{{item.rate}}
        <app-rate [rating]="item.rate"></app-rate>
        <!-- <app-rate ></app-rate> -->
        <td>
          <a [routerLink]="['/courses','details',item._id]" routerLinkActive="active1"> Details </a>
        </td>
        <td>
          <button class="btn btn-primary"(click)='edit(item._id)'>edit</button>

        </td>
        <td>
          <button class="btn btn-danger"(click)='delete(item._id)'>delete</button>

        </td>
       </tr>

  </tbody>
</table>
<router-outlet></router-outlet>
<!-- <app-course-details [crs]="crsDetails"></app-course-details> -->
